$color-primary:   #434343;
$color-secondary: #f79e40;
$colorSecondary:  #f79e40;
$color-success:   #1CBD2F;
$color-tag:       #21974E;
$color-toggle:    #4ad964;
$color-danger:    #e1373c;
$color-info:      #039be5;
$color-black:     #000000;
$color-white:     #ffffff;
$color-disable:   #e4e4e4;
$color-light:     #f5f5f5;
$color-yellow:    #FFD500;
$color-org:       #414367;
$color-highlight: #9fa02b;


$gray-1 : #fafafa;
$gray-2 : #f5f5f5;
$gray-3 : #eeeeee;
$gray-4 : #D9D9D9;
$gray-5 : #efefef;
$gray-6 : #d6d6d6;
$gray-7 : #eaeaea;
$gray-8 : #c8c8c8;
$gray-9 : #bdbdbd;
$gray-10: #929292;
$gray-11: #818181;
$gray-12: #616161;
$gray-13: #424242;
$gray-14: #444444;
$gray-15: #212121;

$red-1:  #ffebee;
$red-2:  #ffcdd2;
$red-3:  #ef9a9a;
$red-4:  #e57373;
$red-5:  #ef5350;
$red-6:  #f44336;
$red-7:  #e53935;
$red-8:  #d32f2f;
$red-9:  #c62828;
$red-10: #b71c1c;
$red-11: #E41D36;
$red-12: #F43939;

$purple-5: #b35bc3;

$green-1:  #9FA02B;

$orange-1:   #fff3e0;
$orange-2:   #ffe0b2;
$orange-3:   #ffcc80;
$orange-4:   #ffb74d;
$orange-5:   #ffa726;
$orange-6:   #ff9800;
$orange-7:   #fb8c00;
$orange-8:   #f57c00;
$orange-9:   #ef6c00;
$orange-10:  #e65100;
$orange-11 : #FCB24A;
$orange-12:  #F89F41;
$orange-13:  #F1613A;
$orange-14:  #F2B93F;

$rainbow-list : #C30029 17%,
#009855 17% 34%,
#A19E3E 34% 51%,
#FF9A50 51% 68%,
#F95743 68% 85%,
#FF0021 85%;

// Rate colors
$color_rate-1: #e66230;
$color-rate-2: #e69717;
$color-rate-3: #cec20c;
$color-rate-4: #97c21e;
$color-rate-5: #4fc238;


$color-border-input: #b9b9b9;
$color-border-2:     #d9d9d9;

$color-text-black: $color-black;
$color-text-input: $color-primary;
$color-text-icon: #929292;

$font-family-iransans: IRANSans;

$--breakpoint-xxs: 420px;
$--breakpoint-xs:  480px;
$--breakpoint-sm:  576px;
$--breakpoint-md:  768px;
$--breakpoint-lg:  992px;
$--breakpoint-xl:  1200px;
$--breakpoint-xxl: 1366px;