@font-face {
    font-family: 'chilivery';
    src:  url('../fonts/icons/chili.eot?23ns3j');
    src:  url('../fonts/icons/chili.eot?23ns3j#iefix') format('embedded-opentype'),
      url('../fonts/icons/chili.ttf?23ns3j') format('truetype'),
      url('../fonts/icons/chili.woff?23ns3j') format('woff'),
      url('../fonts/icons/chili.svg?23ns3j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="chilivery-"], [class*=" chilivery-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'chilivery' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .chilivery-login-arrow:before {
    content: "\e918";
  }
  .chilivery-login-contactus:before {
    content: "\e919";
  }
  .chilivery-login-password:before {
    content: "\e91a";
  }
  .chilivery-login-username:before {
    content: "\e91b";
  }
  .chilivery-dashboard-rate:before {
    content: "\e90f";
  }
  .chilivery-footer-contactus:before {
    content: "\e910";
  }
  .chilivery-menu-position:before {
    content: "\e911";
  }
  .chilivery-menu-info:before {
    content: "\e912";
  }
  .chilivery-menu-message:before {
    content: "\e913";
  }
  .chilivery-menu-menu:before {
    content: "\e914";
  }
  .chilivery-menu-report:before {
    content: "\e915";
  }
  .chilivery-menu-orders:before {
    content: "\e916";
  }
  .chilivery-menu-dashboard:before {
    content: "\e917";
  }
  .chilivery-header-exit:before {
    content: "\e90e";
  }
  .chilivery-header-message:before {
    content: "\e90d";
  }
  .chilivery-header-setting:before {
    content: "\e90c";
  }
  .chilivery-chilivery-logo .path1:before {
    content: "\e900";
    color: rgb(248, 156, 51);
  }
  .chilivery-chilivery-logo .path2:before {
    content: "\e901";
    margin-left: -3.8115234375em;
    color: rgb(188, 0, 36);
  }
  .chilivery-chilivery-logo .path3:before {
    content: "\e902";
    margin-left: -3.8115234375em;
    color: rgb(188, 0, 36);
  }
  .chilivery-chilivery-logo .path4:before {
    content: "\e903";
    margin-left: -3.8115234375em;
    color: rgb(188, 0, 36);
  }
  .chilivery-chilivery-logo .path5:before {
    content: "\e904";
    margin-left: -3.8115234375em;
    color: rgb(0, 147, 69);
  }
  .chilivery-chilivery-logo .path6:before {
    content: "\e905";
    margin-left: -3.8115234375em;
    color: rgb(250, 175, 64);
  }
  .chilivery-chilivery-logo .path7:before {
    content: "\e906";
    margin-left: -3.8115234375em;
    color: rgb(240, 90, 40);
  }
  .chilivery-chilivery-logo .path8:before {
    content: "\e907";
    margin-left: -3.8115234375em;
    color: rgb(156, 156, 11);
  }
  .chilivery-chilivery-logo .path9:before {
    content: "\e908";
    margin-left: -3.8115234375em;
    color: rgb(226, 30, 54);
  }
  .chilivery-chilivery-logo .path10:before {
    content: "\e909";
    margin-left: -3.8115234375em;
    color: rgb(0, 147, 69);
  }
  .chilivery-chilivery-logo .path11:before {
    content: "\e90a";
    margin-left: -3.8115234375em;
    color: rgb(188, 0, 36);
  }
  .chilivery-chilivery-logo .path12:before {
    content: "\e90b";
    margin-left: -3.8115234375em;
    color: rgb(188, 0, 36);
  }