@import './constant';
@import './reset';
@import './reset.global';
@import './mixin';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import './icons';
@import './components/form';
@import './kit';
body{
  font-family: 'Roboto', sans-serif;
  direction: ltr;
  font-size: 16px;
  background-color: #f5f5f5!important;
  margin: 0;
  padding: 0;
}
.relativeMatter{
    position: relative;
  }
  .absoluteMatter{
    position: absolute;
  }
  .inline-block{
    display: inline-block;
  }
  .block{
    display: block;
  }
  .none{
    display: none;
  }
  .rtl{
    direction: rtl;
    text-align: right;
  }
  .margin-auto{
    margin: 0 auto;
  }
  .text-center{
    text-align: center;
  }
  .text-right{
    text-align: right!important;
  }
  .justify-center{
    justify-content:center;
  }
  .vertical-align-middle{
    vertical-align: middle;
  }
  .fullCenter{
    position: absolute!important;
    top: 50%;
    transform: translate(-50%,28%);
    left: 50%;
  }
  .noPadding{
    padding: 0!important;
  }
  .border-bottom-dc{
    border-bottom:1px solid #dcdcdc;
  }
  .menu-active{
    border-bottom:4px solid #BC0024;
  }
  .menu-active-text{
    color: #BC0024;
    font-weight: 600;
  }
  .menu-active-icon{
    color: #BC0024;
  }
  .start-background{
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 0;
    background-color: #FFBA00;
  }
.Bold{
  font-weight: 600;
}
.border-left{
  border-left: 1px solid #DCDCDC;
}
.border-right{
  border-right: 1px solid #DCDCDC;
}
.border-bottom{
  border-bottom: 1px solid #DCDCDC;
}
.border-top{
  border-top: 1px solid #DCDCDC;
}
.border-none{
  border:none!important;
}
.list-item-active{
  border-right:4px solid #B80023;
  color: #B80023;
  font-weight: bold;
}
.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.padding-left-none{
  padding-left:0!important;
}
.padding-right-none{
  padding-right: 0!important;
}
.gray-light-background{
  background-color:  $gray-1;
}

// just for debug!
.debug { background-color: #f9d7e1 };
.d { background-color: #C8CA2633 };
.f { background-color: #ff00aa33 };
